<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="base_url" value="https://api.openweathermap.org/data/2.5/weather"/>
    <add key="api_key" value="370ba8d0be022d10dafd45701c15a218"/>
    <add key="access_key_url_mod" value="?q=London,uk"/>
    <add key="access_key_url_mod1" value="APPID="/>
  </appSettings>
</configuration>

